
/* general styles */
body {
	font-family: sans-serif;
}

.container {
	width: 600px;
	margin: 50px auto;
}

form {
	margin-bottom: 30px;
}
/* textarea to show files as json */
textarea#uploaded {
	width: 100%;
	min-height: 300px;
	font-size: 10px;
}


/* show upload progress with bars */
.progress-bar-area {
	margin-top: 20px;
}

.progress {
	display: none;
	position: relative;
	width: 100%;
	height: 15px;
	background: #C7DA9F;
	border-radius: 15px;
	overflow: hidden;
	margin-top: 10px;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 15px;
	background: #85C220;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: .7em;
}

	.bar.red {
		background: tomato;
	}
